<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2014 Federico Iosue (federico.iosue@gmail.com)
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.feio.android.omninotes"
    android:versionCode="92"
    android:versionName="4.5.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="it.feio.android.omninotes.OmniNotes"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ListActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Splash screen -->
        <activity
            android:name="it.feio.android.omninotes.SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- List and Detail -->
        <activity
            android:name="it.feio.android.omninotes.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            
            <intent-filter>
                <action android:name="com.google.android.gm.action.AUTO_SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <!-- Tags -->
        <activity
            android:name="it.feio.android.omninotes.TagActivity"
            android:label="@string/title_activity_tag"
            android:parentActivityName="it.feio.android.omninotes.ListFragment"
            android:theme="@style/Theme.AppCompat.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListActivity" />
        </activity>

        <!-- Detail -->
<!--         <activity -->
<!--             android:name="it.feio.android.omninotes.DetailFragment" -->
<!--             android:exported="true" -->
<!--             android:windowSoftInputMode="adjustResize" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="com.google.android.gm.action.AUTO_SEND" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="*/*" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.SEND" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="text/plain" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.SEND" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="image/*" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.SEND_MULTIPLE" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="image/*" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.SEND" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="audio/*" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.SEND_MULTIPLE" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="audio/*" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.SEND" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="video/*" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.SEND_MULTIPLE" /> -->

<!--                 <category android:name="android.intent.category.DEFAULT" /> -->

<!--                 <data android:mimeType="video/*" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->

        <!-- Sketch -->
        <activity
            android:name="it.feio.android.omninotes.SketchActivity"
            android:label="@string/title_activity_sketch"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Settings -->
        <activity
            android:name="it.feio.android.omninotes.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="it.feio.android.omninotes.ListFragment"
            android:theme="@style/Theme.Preferences" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListActivity" />
        </activity>

        <!-- Password -->
        <activity
            android:name="it.feio.android.omninotes.PasswordActivity"
            android:label="@string/title_activity_password"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>

        <!-- Changelog -->
        <activity
            android:name="it.feio.android.omninotes.ChangelogActivity"
            android:label="@string/settings_changelog" >
        </activity>

        <!-- Info -->
        <activity
            android:name="it.feio.android.omninotes.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <!-- Snooze reminder -->
        <activity
            android:name="it.feio.android.omninotes.SnoozeActivity"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>

        <!-- ACRA -->
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <!-- Alarm broadcast receiver -->
        <receiver android:name="it.feio.android.omninotes.receiver.AlarmReceiver" />

        <!-- Reboot broadcast receiver -->
        <receiver
            android:name="it.feio.android.omninotes.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootCompleteReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Restore on reboot alarm service -->
        <service android:name="it.feio.android.omninotes.async.AlarmRestoreOnRebootService" >
        </service>

        <!-- Data export and import service -->
        <service android:name="it.feio.android.omninotes.async.DataBackupIntentService" >
        </service>

        <!-- Notification action receiver service -->
        <service android:name="it.feio.android.omninotes.async.NotificationService" >
        </service>

        <!-- Widget configuration Activity -->
        <activity
            android:name="it.feio.android.omninotes.widget.WidgetConfigurationActivity"
            android:theme="@style/Theme.AppCompat.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Widget Simple -->
        <receiver
            android:name="it.feio.android.omninotes.widget.SimpleWidgetProvider"
            android:description="@string/widget_simple_description"
            android:icon="@drawable/logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_simple" />
        </receiver>
        <!-- Widget List -->
        <receiver
            android:name="it.feio.android.omninotes.widget.ListWidgetProvider"
            android:description="@string/widget_list_description"
            android:enabled="@bool/list_widget_receiver_enabled"
            android:icon="@drawable/logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_list" />
        </receiver>

        <service
            android:name="it.feio.android.omninotes.widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- DashClock plugin service -->
        <service
            android:name="it.feio.android.omninotes.async.ONDashClockExtension"
            android:icon="@drawable/ic_stat_notification_icon"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/dashclock_description" />
            <!-- A settings activity is optional -->
            <!-- <meta-data -->
            <!-- android:name="settingsActivity" -->
            <!-- android:value=".ExampleSettingsActivity" /> -->
        </service>
    </application>

</manifest>
